:root,
html.dark {
  color-scheme: dark;

  --identity-background: #1a1b26;
  --identity-surface: #1f2335;
  --identity-foreground: #c0caf5;
  --identity-foreground-bright: #f7f7f7;
  --identity-primary: #9ece6a;

  --identity-background-secondary: #16161e;
  --identity-background-tertiary: #24283b;
  --identity-surface-hover: #292e42;

  --identity-border-light: #414868;
  --identity-border: #363b54;
  --identity-border-dark: #282e44;

  --identity-foreground-muted: #565f89;
  --identity-foreground-secondary: #a9b1d6;

  --identity-primary-dark: #b5d99c;
  --identity-primary-light: #b5d99c;

  --identity-font-sans: var(--identity-font-mono);
  --identity-font-serif: var(--identity-font-mono);
  --identity-font-mono: "Fira Code", ui-monospace, monospace;

  --identity-content-width: 56rem;
  --identity-page-padding: 2rem;
}
